* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 font-family: sans-serif;
}

.mainTop {
    background-color: rgb(81, 137, 137);
    height: 150px;
    width: 100%;
}

.container {
    display: flex;
    border: 5px solid black;
    height: calc(100vh - 150px);
    width: 1170px;
    margin: auto;
    position: relative;
    top: -90px;
}

.peolpleList {
    max-width: 40%;
    background-color: antiquewhite;
    
}

.containerSide {
    padding: 10px;
    width: 400px;
    border: 1px solid lightgray;
}

.containerSideSmaller {
    padding: 10px;
    display: flex;
    max-width: 400px;
    border: 1px solid lightgray;
}
.headSide {
    background-color: lightgray;
    display: flex;
    align-items: center;
}


.profilePhoto {
    height: 50px;
    border-radius: 50%;
}

.profileName {
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    flex-grow: 1
    ;
}

.icons {
    color: gray;
    font-size: 1.3rem;
}

.icons i {
    padding: 8px;
}

.notifyBlock {
    display: flex;
    background-color: skyblue;
    padding: 15px 10px;
    align-items: center;
}

.bigIcon {
    font-size: 1.5rem;
    background-color: white;
    padding: 10px;
    padding-top: 12px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: skyblue;
}

.textNotify {
    padding-left: 10px;
}

.textNotify a {
    font-size: 0.9rem;
    color: gray;
}

.searchBar {
    padding: 10px;
    background-color: rgb(239, 242, 234);
}

.searchSector {
    display: flex;
    background-color: white;
    
}

.searchIcon {
    padding: 8px 20px;
    border: solid 1px lightgray;
    color: gray;
}

.searchText {
    flex-grow: 1;
    border: 1px solid lightgray;
    padding-left: 5px;
    font-weight: bold;
}

.chatList {
    height: calc(100vh - 372px);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 400px;
}

.stats {
    padding-left: 10px;
    padding-top: 2px;
    position: relative;
    width: 100%;
}

.lastMessage {
    font-size: 0.8rem;
    color: gray;
}

.hoursMessage {
    font-size: 0.8rem;
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
}

.content {
    flex-grow: 1; 
}

.contentHeader {
    padding: 10px;
    display: flex;
    background-color: lightgray;
    height: 76px;
    align-items: center;
}

.lastAccess {
    color: gray;
    padding-left: 10px;
    font-size: 0.9rem;
}

.chatting {
    
    flex-grow: 1;
}

.chatSection {
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 150px - (76px * 2));
    overflow-y: auto;
    overflow-x: hidden;
}

.writerBox {
    display: flex;
    align-items: center;
    height: 66px;
    background-color: rgb(219, 194, 198);
    padding: 15px;
}

.sendText {
    flex-grow: 1;
    border: 1px solid lightgray;
    padding: 16px;
    margin: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.writerBox i {
    font-size: 1.4rem;
    margin: 10px;
    color: gray;
}

.containerMessages {
    padding: 30px 40px;
}

.message {
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
}

.ownMessage {
    position: relative;
    left: 372px;
    background-color: greenyellow;
    width: 280px;
}

.otherMessage {
    background-color: white;
    width: 280px;
}
