* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-message: lightgray;
    --icon-colors: gray;
    --notify-sector: skyblue;
    --lighter-gray-search-bar: rgb(239, 242, 234);
    --writing-section: #ffe9e975;
    --my-msg: rgb(209, 250, 190);
    --white: white;
    --main-background: rgb(0, 150, 136);
}

body {
 font-family: sans-serif;
}

.mainTop {
    background-color: var(--main-background);
    height: 150px;
    width: 100%;
}

.container {
    display: flex;
    height: calc(100vh - 150px);
    width: 1170px;
    margin: auto;
    position: relative;
    top: -90px;
}

.peolpleList {
    max-width: 40%;
    
}

.containerSide {
    padding: 10px;
    width: 400px;
    
}

.containerSideSmaller {
    padding: 10px;
    display: flex;
    max-width: 400px;
    border: 1px solid var(--header-message);
}
.headSide {
    background-color: var(--header-message);
    display: flex;
    align-items: center;
    border-right: 1px solid var(--icon-colors);
}


.profilePhoto {
    height: 50px;
    border-radius: 50%;
}

.profileName {
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    flex-grow: 1
    ;
}

.icons {
    color: var(--icon-colors);
    font-size: 1.3rem;
}

.icons i {
    padding: 8px;
}

.notifyBlock {
    display: flex;
    background-color: var(--notify-sector);
    padding: 15px 10px;
    align-items: center;
}

.bigIcon {
    font-size: 1.5rem;
    background-color: var(--white);
    padding: 10px;
    padding-top: 12px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--notify-sector);
}

.textNotify {
    padding-left: 10px;
}

.textNotify a {
    font-size: 0.9rem;
    color: var(--icon-colors);
}

.searchBar {
    padding: 10px;
    background-color: var(--lighter-gray-search-bar);
}

.searchSector {
    display: flex;
    background-color: var(--white);
    
}

.searchIcon {
    padding: 8px 20px;
    border: solid 1px var(--header-message);
    color: var(--icon-colors);
}

.searchText {
    flex-grow: 1;
    border: 1px solid var(--header-message);
    padding-left: 5px;
    font-weight: bold;
}

.chatList {
    height: calc(100vh - 372px);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 400px;
}

.stats {
    padding-left: 10px;
    padding-top: 2px;
    position: relative;
    width: 100%;
}

.lastMessage {
    font-size: 0.8rem;
    color: var(--icon-colors);
}

.hoursMessage {
    font-size: 0.8rem;
    color: var(--icon-colors);
    position: absolute;
    top: 0;
    right: 0;
}

.content {
    flex-grow: 1; 
}

.contentHeader {
    padding: 10px;
    display: flex;
    background-color: var(--header-message);
    height: 76px;
    align-items: center;
}

.lastAccess {
    color: var(--icon-colors);
    padding-left: 10px;
    font-size: 0.9rem;
}

.chatting {
    
    flex-grow: 1;
}

.chatSection {
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 150px - (76px * 2));
    overflow-y: auto;
    overflow-x: hidden;
}

.writerBox {
    display: flex;
    align-items: center;
    height: 66px;
    background-color: var(--writing-section);
    padding: 15px;
    border-left: 1px solid var(--icon-colors);
}

.sendText {
    flex-grow: 1;
    border: 1px solid var(--header-message);
    padding: 16px;
    margin: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.writerBox i {
    font-size: 1.4rem;
    margin: 10px;
    color: var(--icon-colors);
}

.chatMargin {
    padding: 30px 40px;
}

.containerMessages {
    display: flex;
    flex-direction: column;
    
}

.messageClassic {
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    max-width: 80%;
    min-width: 200px;
}

.ownMessage {
    align-self: flex-end;
    flex-wrap: wrap;
    background-color: var(--my-msg);
    position: relative;
    
    
}

.otherMessage {
    background-color: var(--white);
    position: relative;
    align-self: flex-start;
    flex-wrap: wrap;
    position: relative;
    
}

.messageTime {
    color: var(--icon-colors);
    font-size: 0.7rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.bg_c {
    background-color: var(--lighter-gray-search-bar);
}