<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <main>
            
            <div class="container">
                <aside class="peopleList">

                    <div class="containerSide headSide">
                        <div class="image">
                            <img class="profilePhoto" :src="user.avatar" alt="Foto Profilo Personale">
                        </div>
                        <span class="profileName">{{user.name}}</span>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <div class="containerSide notifyBlock">
                        <div class="image">
                            <i class="bigIcon fa-regular fa-bell-slash"></i>
                        </div>
                        <div class="textNotify">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                        
                    </div>
                    
                    <div class="searchBar">
                        <div class="searchSector" >
                            <i class="searchIcon fa-solid fa-magnifying-glass"></i>
                            <input class="searchText" type="text" placeholder="Cerca o inizia una nuova chat" v-model="ricercaUtente" @keyup="differenceDetector()">
                        </div>
                    </div>
                    

                    <div class="chatList">
                        <div v-for="(contact, index) in contacts">
                            <div  class="containerSideSmaller" @click="cambioChat(index)" :class="index == chatSelezionata?'grayColor':''" v-if="contact.visible">
                                <div class="image">
                                    <img class="profilePhoto" :src="contacts[index].avatar" alt="Foto Profilo Amico">
                                </div>
                                
                                <div class="stats">
                                    <h4 class="chatterName">{{contacts[index].name}}</h4>
                                    <span class="lastMessage" >{{contact.messages[contact.messages.length - 1].message}}</span>
                                    <span class="hoursMessage">{{contact.messages[contact.messages.length - 1].date}}</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </aside>

                <div class="content">
                    <div class="contentWrapper" v-for="(contact, index1) in contacts" >
                        <div class="contentHeader" v-if="(index1 == chatSelezionata)">
                        
                            <div class="image">
                                <img class="profilePhoto" :src="contact.avatar" alt="Foto Profilo Amico">
                            </div>
                            <div class="chatting">
                                <h4 class="profileName">{{contact.name}}</h4>
                                <span class="lastAccess">Ultimo accesso {{contact.messages[contact.messages.length - 1].date}}</span>
                            </div>
                            
                            <div class="icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>  
                    </div>
                    

                    <div class="chatSection">
                        <div class="chatMargin" >
                            <div v-for="(contact, index1) in contacts" class="containerMessages">
                                <div v-for="(element, index) in contact.messages" class="messageClassic" :class="(element.status == 'sent')?'ownMessage':'otherMessage'" v-if="((index1 == chatSelezionata) && !delateSection)" @click="addRemove(contact, element,index1, index)">
                                    {{element.message}}
                                    <i class="alingText fa-solid fa-chevron-down"></i>

                                    <div class="window d-none">
                                        <span>Message info</span> </br>
                                        <span @click="deleateMsg(element, index)">Deleate message</span>
                                    </div>
                                    
                                    <span class="messageTime">{{getOnlyTime(element.date)}}</span>

                                    
                                </div>
                            </div>       

                        </div>
                        
                    </div>


                    <div v-for="(contact, index1) in contacts" class="content3rd">
                        <div v-for="(element, index) in contact.messages"  v-if="(index1 == chatSelezionata)">
                            
                            <div class="writerBox" v-if="(index == 0)">

                                <i class="fa-regular fa-face-smile"></i>
                                <input class="sendText" type="text" placeholder="Scrivi un messaggio" v-model="creazioneMessaggio" @keyup.enter="sendText(contact.messages, index1)">
                                <i class="fa-solid fa-microphone"></i>
    
    
                                
                            </div>

                            


                        </div>
                    </div>
                    
                    
                </div>
            </div>
                
            
        </main>
    </div>
    







    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>